.btn {
    color: #343045;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    padding: 16px 38px;
    border: none;
    border-radius: 40px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}