.nav{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;

    padding-top: 50px;
}

.logo {
display: flex;
gap: 10px;
align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
    a {
        text-decoration: none;
        color: white;

        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.btn {
    color: white;

    padding: 16px 38px;
    border: 1px solid white;
    background: none;
    border-radius: 40px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.btns {
    display: flex;
    gap: 40px;
}