.box {
    padding: 100px;
    background-image: url('/maska6.png');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
border-radius: 300px;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 15px;
text-align: center;
color: white;

position: relative;

button {
    position: absolute;
    bottom: -35px;
    background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
    outline: 17px solid #2b273e;
    border-radius: 50%;
    border: none;
}

h3 {
    font-size: 36px;
    font-weight: 400;

    b {
        font-weight: 700;
    }
}
}

.wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}